.hero {
  padding: 93px 0;
  position: relative;
  display: flex;
  @include desktop {
    padding: 80px 0 30px 0;
  }
  &_area{
    background: #74bacf;  
    background: -webkit-linear-gradient(to left, #74bacf, yellow); 
    opacity: 1;
  }
  &_circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &_circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 10% !important;
    background-color: whitesmoke;
    animation: animate 25s linear infinite;
    bottom: -150px;
    overflow: hidden;
    opacity: 0.6;  
  }
  &_circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  &_circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  &_circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  &_circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  &_circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  &_circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  &_circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  &_circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  &_circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  &_circles li:nth-child(10){
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
  }
  &_footer-svg {
    position: absolute;
    bottom: 20px;
    left: -130px;
    animation: move_top 5s infinite linear;
    @include desktop {
      display: inherit;
    }
  }
  &_content {
    position: relative;
    .hero_blob {                  
      position: absolute;
      z-index: -1;
      top: -45%;
      left: -45%;
      height: 440px;
      width: 440px;
      svg {
        width: 100%;
        position: relative;
      }
      @include desktop {
        display: inline-block;
      }
    }
    span {
      font-size: 24px;
      position: relative;
      display: block;
      margin: 0 0 20px 30px;
      @include desktop {
        display: inline-block;
      }
    }
    p {
      font-size: $font-size-lg;
    }
  }
  &_figure {
    width: 90%;
    margin-left: auto;
    border-radius: 5px;
    position: relative;
    @include desktop {
    }
    .figure-svg {
      position: absolute;
      top: -55px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      height: 150px;
      animation: move_left 5s infinite linear;
      img {
        max-width: 100%; 
        height: auto;
      }
    }
    img {
      max-width: 100%; 
      height: auto;
    }


    &-popup {
      position: absolute;
      bottom: 80px;
      left: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      @include desktop {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
      .thumb {
        height: 160px;
        width: 250px;
        border: 1px solid #707070;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .popup-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        background: #ffffff;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.3s ease;
        svg {
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease;

          path {
            fill: $primary;
          }
        }
        &:hover {
          background-color: $primary;
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }
      &:hover {
        .popup-button {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}

@keyframes move_left {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-57%);
  }
}

@keyframes move_top {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}