{{ with .Site.Data.aboutSection }}
{{ if .enable }}
<section class="section about" id="about" style="margin-top:60px">
    <div class="container">
        <div class="row row">
            <div class="col-lg-6">
                <div class="about_content">
                        <div class="mb-4 text-dark">
                            {{ .content1 | markdownify}}
                        </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_content">
                        <div class="mb-4 text-dark">
                            {{ .content2 | markdownify}}
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}