<section class="footer" id="contact">
	<div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div>
	<div class="container">
		<div class="row footer__footer">
			<div class="col-lg-6">
				<h1 style="color: white !Important;">Can I help you?</h1>
				<h3 style="color: white;">Let's talk.</h3>
				<p style="color: white;">Feel free to reach out to me, I am here to help you.</p>
				<p style="color: white;">No costs involved.</p>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_social">
					<h1><i class='fa fa-smile-beam' style='color: white;'></i></h1>
					<ul class="unstyle-list">
						<li class="d-inline-block mx-2 text-light" ><i class='fa fa-phone-alt'></i> +977-9851179721</li>
						</br><li class="d-inline-block mx-2 text-light"><i class='fa fa-envelope'></i> codeanit@gmail.com</li>
						</br><li class="d-inline-block mx-2 text-light"><a style="color: white" href="https://inkedin.com/in/anit" target="_blank"><i class='fa fa-user-plus'></i> Linkedin</a></li>
						</br><li class="d-inline-block mx-2 text-light"><a style="color: white" href="https://github.com/codeanit" target="_blank"><i class='fa fa-laptop-code'></i> See some code</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
