<section class="footer" id="contact">
	<!-- <div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div> -->
	<div class="container">
		<div class="row footer__footer">
			<div class="col-lg-6 text-dark">
				<h1>Can I help you?</h1>
				<p>Get a thorough consultation before making any investment in your software assests.
				Feel free to reach out to me.</p>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_social text-dark">
					<h2>Let's talk</h2>
					<ul class="unstyle-list mb-4">
						<li class="d-inline-block mx-2"><i class='fa fa-phone-alt'></i> +977-9851179721</li>
						</br><li class="d-inline-block mx-2"><i class='fa fa-envelope'></i> codeanit@gmail.com</li>
						</br><li class="d-inline-block mx-2"><a href="https://linkedin.com/in/anit" target="_blank" class="text-light"><i class='fa fa-user-plus'></i> Linkedin</a></li>
						</br><li class="d-inline-block mx-2"><a href="https://github.com/anitshrestha-com-np" target="_blank" class="text-light"><i class='fa fa-laptop-code'></i> Contribute</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
