{{ with .Site.Data.hero }}
{{ if .enable }}

<section class="hero hero_area" id="home">
    <ul class="hero_circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  <div class="container">
    <div class="row align-items-center">      
      <div class="col-lg-6">
        <div class="hero_content">
          <div class="mb-5 text-light">
            {{ .content | markdownify }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero_figure">
          <img src="{{ .image | absURL }}" alt="hero-image" style='
                  -webkit-mask: url({{"images/hero/hero-mask-svg.png" | absURL }});
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-size: contain;
                  -webkit-mask-position: center center;
                ' />
        </div>
      </div>
    </div> 
  </div>
    
</section>
{{ end }}
{{ end }}