{{ with .Site.Data.skillSection }}
{{ if .enable }}
<section class="section skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="skill__thumb">
                    <div class="skill__progress_heading mb-5">
                        {{ .content | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div></i><h2 style="padding-top: 9px; font-weight: bold;"> Skills <i class="fa fa-handshake" style="color: whitesmoke;"></i></h2></div>
                <div class="skill__progress">
                    {{ $section := .skill }}
                    {{ range $section }}
                    <div class="skill__progress_item">
                        <span class="d-inline-block text-dark"> {{ .title }} </span>
                        <div class="progress-value float-right"><span>{{ .percent }}</span>%</div>
                        <div class="progress">
                            <div class="progress-bar" style="width:{{ .percent }}%;" aria-valuemin="0"
                                aria-valuemax="{{ .percent }}"></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}